@font-face {
   font-family: font2;
   src:url(./font2.ttf)
}

@font-face {
    font-family: font3;
    src:url(./font3.ttf)
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}

#page1{
    min-height:100vh;
    width:100vw;
    
    background-color: #C6BFB5;
}

#nav{
    height: 10rem;
    width: 100%;
    /* background-color: aqua; */

    display:flex;
    padding: 0 3.5rem;
    align-items: center;
    justify-content: space-between;
    
    border-bottom: 1px solid #4b4848;
}

#nav img{
    height: 2.8rem;
    width: 30%;
}

#nav i{
  font-size: 2rem;
   width: 30%;
   text-align: right;
}

#nav h5{
    width: 30%;
    font-size: 2rem;
}

#elems{
    height: 40rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;

}

#elem1 {
    width:30%;
    height: 100%;
   

}


#elem2{
    width:30%;
    height: 100%;
  
    padding: 2rem 4rem;
    text-align: center;
    border-right: 1px solid #4b4848;
    border-left: 1px solid #4b4848;
}


#elem3{
    width:30%;
    height: 100%;
    
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #000;
    transition: all ease .5s;
}

#elem1 #image-div{
    height:60%;
    width: 100%;
    overflow: hidden;
}


#elem3 #image-div{
    height:60%;
    width: 100%;
    overflow: hidden;
}


#image-div:hover img{
    scale: 1.15;
}

#elem1 h4{
   /* inline-size:2.8rem ; */
   font-size: 3rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   font-family: 'canopee';
}

#elem1 h4 span{
    font-size: 1.8rem;
    background-color:#BB3B11;
    color: #C2BAB1;
    padding:.4rem;
    font-weight: 100;
    border-radius: .5rem;
}

#elem1 p{
    font-size: 2rem;
    font-family: font2;
    font-weight: lighter;
    color: #363535;
}


#elem3 h4{
    line-height: 3rem;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'canopee';
    
 }
 
 #elem3 h4 span{
     
     font-size: 1.8rem;
     background-color:#BB3B11;
     color: #C2BAB1;
     padding:.4rem;
     font-weight: 100;
     border-radius: .5rem;
 }
 
 #elem3 p{
     font-size: 2rem;
     font-family: font2;
     font-weight: lighter;
     color: #363535;
 }

 #elem2 h2{
    letter-spacing: -3px;
    font-family: 'canopee';
    font-size: 7.5rem;
    font-weight: 100;
    /* margin-bottom: 1rem; */
 }

 #elem2 h3{
    /* color: #1d1c1c; */
    font-family: font2;
    font-size: 4rem;
    font-weight: 100;
    margin: 2rem 0;

 }

 #elem2 h6{
    font-family: font2;
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem 0;

 }

 #elem2 h6 span{
    color: #000;
    font-family: 'canopee';
    font-size: 2.2rem;
    font-weight: bold;
    /* letter-spacing: -1px; */
    margin: 1rem 0;
 }

 #page1 h1{
    background-color:#1C1C19;
    color:#C6BFB5;
    font-size: 60rem;
    line-height: 50rem;
    font-family: 'canopee';
    font-weight: 100;
    letter-spacing: -24px;
    margin: 2%;
    padding: 2rem 4rem;
 }
 